<section  class="chefs section-bg">
    <div class="container">
<div class="section-header">
        <p>Voir les détails de l'ingrédient</p>
</div>
      <div class="row gy-4" style="justify-content: center; align-items: center;">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member ">
            <div class="member-img">
              <img src="assets/img/farine.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>{{ingredient.nom}}</h4>
              <span>{{ingredient.quantite}}{{ingredient.uniteDeMesure}}</span>
              <p>quantité en stock {{ingredient.stock}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>